.lists{
    width: 100%;
    list-style: none;
    margin: 1rem;
    background-color: #eeeeee;
    padding: 0.8rem;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px 1px;
    text-align: left;
    position: relative;
}

#index-number {
    font-size: 1.3rem;
    margin-right:3rem;
}

.fa-check{
    position: absolute;
    right: 0;
    font-size: 1.5rem;
    top: 1rem;
    color:green;
    margin-right: 1.2rem;
    cursor: pointer;
}



